/* Toggle */

#pwmExtensionToggleCta {
  position: fixed !important;
  z-index: 2147483646; /* Higher than SwagButton extension banner */
  top: 20px !important;
  right: 20px !important;
  padding: 5px !important;
  margin: 0 !important;
  width: 16px !important;
  height: 16px !important;
  background: #fff center no-repeat !important;
  border: 1px dashed #ccc !important;
  border-radius: 100% !important;
  box-sizing: content-box !important;
  box-shadow: 0 0 5px 0 rgba( 150, 150, 150, .5 ) !important;
  cursor: pointer !important;
  outline: none !important;
}
#pwmExtensionToggleCta:hover {
  border-color: #999 !important;
}
#pwmExtensionToggleCta:active {
  border-color: #555 !important;
  box-shadow: 0 0 2px 0 rgba( 0, 0, 0, .5 ) !important;
}

/* SwagButton extension banner and modal */

.pwmExtensionActive + #popUpSEToolbar,
.pwmExtensionActive + #popUpSEToolbar + #SESpecialTerms {
  display: none !important;
}

@media print {

  #pwmExtensionToggleCta {
    display: none !important;
  }
}
