/* Toggle */

#pwmExtensionToggleCta {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 16px !important;
  height: 16px !important;
  background: transparent url(chrome-extension://__MSG_@@extension_id__/global/img/pwm-icon-16.png) no-repeat !important;
  border: 0 !important;
  box-sizing: content-box !important;
  cursor: pointer !important;
  outline: none !important;
}
